.git
.idea
.project
.settings
.DS_Store
Thumbs.db
.deploy*/

*~
*.diff
*.patch
*.log
*.swp
*.tmp

bower_components/
node_modules/
coverage/
runtime/
log/
tmp/
output/
output.tar.gz
.remote-sync.json
.sftp-config.json
npm-debug.log
nohup.out
picasso.json
docs/
build/
